body {
  overflow-x: hidden;
  font-family: 'Orbitron', sans-serif;
  background-color: #fff;
}

header #home-page {
	width: 80px;
	float: left;
	color: white;
	margin: 16px 8px 0 40px;
	font-size: 18pt;
	text-transform: uppercase;
	
}

header #home-page a {
	color: white;
	text-decoration: none;

}

header #home-page a:hover {
	color: #999;

}

header {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 60px;
	background-color: #333;
}

header, header #home-page, header nav ul li a, header nav ul{
	transition: all 300ms;
	text-decoration: none;
}

header nav {
	float: right;
	height: 40px;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

header nav ul {
	margin: 20px 8px 0 0;
    padding: 0;
	text-decoration: none;
}

header nav ul li {
	margin: 0 10px 0 0;
	padding: 0;
	list-style: none;
	float: left;
	color: white;
	text-decoration: none;
}

header nav ul li a {
	text-transform: uppercase;
	font-size: 18px;
	color: white;
	padding-left: 10px;
	text-decoration: none;
}

header:hover {
	height: 90px;
}

header:hover > #home-page {
	width: 140px;
	margin: 30px 0 0 30px;
	text-decoration: none;
}

header:hover > nav ul {
	margin: 34px 20px 0 0;
	text-decoration: none;
}

header:hover > nav ul li a {
	font-size: 20px;
	text-decoration: none;
}

@media all and (max-width: 780px) {
	
	header {
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 130px;
		background-color: #333;
	}
	
	header nav ul li {
		margin: 0 10px 0 0;
		padding: 5px;
		list-style: none;
		float: left;
		color: white;
		text-decoration: none;
}

	header:hover {
	height: 130px;
	}

	header:hover > #home-page {
		width: 130px;
		margin: 30px 0 0 30px;
		text-decoration: none;
	}

	header:hover > nav ul {
		margin: 30px 20px 0 0;
		text-decoration: none;
	}

	header:hover > nav ul li a {
		font-size: 20px;
		text-decoration: none;
	}
}

@media all and (max-width: 645px) {
	header {
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 170px;
		background-color: #333;
	}
	
	header nav ul li {
		margin: 0 10px 0 0;
		padding: 10px;
		list-style: none;
		float: left;
		color: white;
		text-decoration: none;
}

	header:hover {
	height: 180px;
	}

	header:hover > #home-page {
		width: 180px;
		margin: 30px 0 0 30px;
		text-decoration: none;
	}

	header:hover > nav ul {
		margin: 30px 20px 0 0;
		text-decoration: none;
	}

	header:hover > nav ul li a {
		font-size: 20px;
		text-decoration: none;
	}
}

@media all and (max-width: 366px) {
	header {
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 220px;
		background-color: #333;
	}
	
	header nav ul li {
		margin: 0 10px 0 0;
		padding: 5px;
		list-style: none;
		float: left;
		color: white;
		text-decoration: none;
}

	header:hover {
	height: 240px;
	}

	header:hover > #home-page {
		width: 200px;
		margin: 30px 0 0 30px;
		text-decoration: none;
	}

	header:hover > nav ul {
		margin: 30px 20px 0 0;
		text-decoration: none;
	}

	header:hover > nav ul li a {
		font-size: 20px;
		text-decoration: none;
	}
}

#portfolio {
	background: url('img/white.jpg') no-repeat;
	background-position: center center;
	text-align: center;
	font-size: 30pt;
	color: #000;
	margin-top: 60px;
	margin-left: 0px;
	height: 300px;
	padding-top: 150px;
	text-align: center;
	
}

.rectangle {
	background-color: #333;
	width: 100%;
	height: 10px;
}


a:hover {
  color: #999;
}

.text-primary {
  color: #666 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Orbitron', sans-serif;
}

h1 {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.line {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

.line2 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
	margin-top: 100px;
}

@media all and (max-width: 1242px) {
	.line2 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 550px;
		margin-top: 425px;
}
}

@media all and (max-width: 813px) {
	.line2 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 550px;
		margin-top: 1390px;
}
}

h1::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

h1:hover::after {
    width: 100%;
    transition: width .3s;
}

#home-page {
	color: #666;
}

.main-page {
	
	text-align: center;
	font-size: 28pt;
	color: #333;
}

{
  box-sizing: border-box;
  
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 5px;
  background-color: #666;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

.container {
  padding: 25px 0px;
  position: relative;
  width: 50%;
}


.container::after {
  content: '';
  position: absolute;
  width: 75px;
  height: 40px;
  right: -17px;
  background-color: #fff;
  border: 4px solid #666;
  top: 95px;
  border-radius: 25%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}


.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
}

.right::after {
  left: -16px;
}


.content-left {
  padding: 40px 30px;
  background-color: #666;
  position: relative;
  border-radius: 25px;
}


.content-left, .content-right h2{
  
  position: relative;
  text-align: center;
  color: #fff;
}

.content-left, .content-right p{
  
  position: relative;
  text-align: center;
  color: #fff;
}

.content-right {
  padding: 40px 30px;
  background-color: #333;
  position: relative;
  border-radius: 25px;
}

@media all and (max-width: 750px) {

.timeline::after {
    left: 31px;
  }


.container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
.container::before {
    left: 60px;
  }

.left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

{box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slideshow-container:hover img {
	filter: drop-shadow(8px 8px 10px gray);
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 24px;
  transition: 0.8s ease;
  border-radius: 5px 0px 0px 5px;
}

.next {
  right: 0;
  border-radius: 0px 5px 5px 0px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.text {
  color: #000;
  font-size: 42px;
  padding: 8px 0px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
 .text:hover {
	 background-color: rgba(0,0,0,0.8);
	 left: 0px;
	 color: white;
 }

.numbertext {
  color: #000;
  font-size: 24px;
  padding: 8px 20px;
  position: absolute;
  top: 0;
}

.numbertext:hover {
	background-color: rgba(0,0,0,0.8);
	left: 5px;
	color: white;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 20px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #333;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.cube {
	position: relative;
	float: left;
    top: 20px;
    color: white;
    width: 300px;
    height: 300px;
    padding-top: 0px;
	padding-left: 3%;
    margin-top: 25px;
    margin-left: 67px;
}


img {
	display: block;
	width: 100%;
	height: auto;
}


.overlay {
  position: relative;
  top: -300px;
  left: 0;
  right: 0;
  background-color: #f2f2f2;
  opacity: 0.8;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: .5s ease;
}

.cube:hover .overlay {
	bottom: 0;
    height: 100%;
}

.txt {
  color: black;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

label[for=fname] {
	padding: 0px 20px;
	color: #fff;
}

label[for=sub] {
	padding: 0px 20px;
	color: #fff;
}

label[for=mail] {
	top: 0;
	padding: 0px 20px;
	color: #fff;
}

label[for=message] {
	padding: 0px 20px;
	color: #fff;
}



input[type=text], select, textarea {
    width: 100%;
    padding: 15px 30px;
    border: 1px solid #333;
    border-radius: 10px; 
    box-sizing: border-box;
    margin-top: 5px; 
    margin-bottom: 15px; 
    resize: vertical;
	font-size: 12pt;
	font-family: 'Orbitron', sans-serif;
}

input[type=submit] {
    background-color: #222;
    color: #fff;
    padding: 20px 50px;
	border: 1px solid #222;
    border-radius: 5px;
    cursor: pointer;
	font-size: 20pt;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}

input[type=submit]:hover {
    background-color: #111;
}

.contain {
    padding: 30px 50px;
    background-color: #666;
	width: 92,5%;
	font-size: 16pt;
}

footer {
	background: url('img/white.jpg') no-repeat;
	background-position: center center;
	width: 100%;
	color: #000;
	margin-top: 0px;
	margin-left: 0px;
	height: 175px;
	padding-top: 50px;
}

#unin {
	text-align: center;
	font-size: 22pt;
	text-transform: uppercase;
}

#madeby {
	text-align: center;
	font-size: 22pt;
	padding-top: 0px;
}

.rectangle2 {
	background-color: #333;
	width: 100%;
	height: 10px;
	margin-top: 40px;
}
